---
import { aboutMe } from "../../ui/about";
import AboutContentSection from "./AboutContentSection";
---

<section class="min-h-screen relative z-[2] p-desk">
    <div class="flex justify-around items-center gap-12">
        <img src="media/astronaut.png" alt="ai generated astronaut" class="max-h-screen" />
        <AboutContentSection client:load />
    </div>
</section>
