<div class="flex items-center gap-2 max-w-[50%] mx-auto my-32 lg:my-desk">
    <div class="h-[5px] w-[5px] aspect-square rounded-full bg-darkAccent"></div>
    <div class="h-[1px] w-full bg-darkAccent"></div>
    <div class="h-[5px] w-[5px] aspect-square rounded-full bg-darkAccent"></div>
    <div class="h-[5px] w-[5px] aspect-square rounded-full bg-darkAccent"></div>
    <div class="h-[5px] w-[5px] aspect-square rounded-full bg-darkAccent"></div>
    <div class="h-[1px] w-full bg-darkAccent"></div>
    <div class="h-[5px] w-[5px] aspect-square rounded-full bg-darkAccent"></div>
</div>