---
import { socials } from "../../ui/social";
---

<footer>
    <div class="bg-darkAccent p-4 lg:px-desk">
        <ul class="flex justify-center gap-4 mb-4">
            {
                socials.map((social) => (
                    <li class="relative group">
                        <a
                            href={social.action}
                            target="_blank"
                            class="transition-all block relative hover:scale-110 hover:cursor-pointer"
                        >
                            <img src={`icons/${social.icon}`} alt="" />
                        </a>
                    </li>
                ))
            }
        </ul>
        <p class="flex-1 text-center">
            Mathias Cianni &copy; {new Date().getFullYear()} &dash; Todos los derechos reservados
        </p>
        
    </div>
</footer>
