---
import Layout from "../layouts/Layout.astro"
import Starfield from "../components/General/Starfield.astro"
---

<Layout title="404">
    <div
        class="bg-dark text-white h-full overflow-hidden relative min-h-screen"
    >
        <div
            class="h-screen absolute w-full bg-[radial-gradient(100%_100%_at_50%_100%,rgba(64,59,103,1)_0%,rgba(64,59,103,0.00)_100%)]"
        >
        </div>
        <Starfield starsCount={10} />
        <main
            class="flex flex-col items-center justify-center h-full w-full z-[2] relative"
        >
            <h1
                class="text-8xl font-light mb-8 text-center"
            >
                404
            </h1>
            <p
                class="text-3xl font-light mb-8 text-center"
            >
                Página no encontrada
            </p>
            <a
                href="/"
                class="text-xl font-light mb-8 w-full hover:text-primary transition-all"
                >&larr; Volver</a
            >   
        </main>
    </div>
</Layout>
