---
import Layout from "../layouts/Layout.astro";
import AnimatedParagraphContainer from "../components/About/AnimatedParagraphContainer";
---

<Layout title="Sobre mí | Mathias Cianni" disableHeaderBg starsCount={20}>
    <div class="h-full">
        <main class="p-4 lg:p-[100px] xl:p-desk relative pt-desk">
            <AnimatedParagraphContainer client:load />
        </main>
    </div></Layout
>
