---
import Layout from "../layouts/Layout.astro";
import Introduction from "../components/Header/Introduction.astro";

import WorkContainer from "../components/Work/WorkContainer.astro";
import AboutContainer from "../components/About/AboutContainer.astro";
import ContactContainer from "../components/Contact/ContactContainer.astro";
import Divisor from "../components/General/Divisor.astro";
---

<Layout title="Mathias Cianni | Portfolio" starsCount={40}>
	<div class="h-full">
		<Introduction />
		<main>
			<AboutContainer />
			<Divisor />
			<WorkContainer />
			<Divisor />
			<ContactContainer />
		</main>
	</div>
</Layout>
