---
import Layout from "../layouts/Layout.astro";
import Starfield from "../components/General/Starfield.astro";
import Divisor from "../components/General/Divisor.astro";
import WorkSectionContainer from "../components/Work/WorkSectionContainer";
import { works } from "../ui/works";
---

<Layout title="Proyectos | Mathias Cianni" starsCount={20} disableHeaderBg>
    <div class=" w-full h-full overflow-hidden relative">
        <main class="z-10 relative p-4 lg:p-[100px] xl:p-desk pt-desk min-h-screen">
            <h1 class="text-4xl md:text-6xl lg:text-8xl font-title uppercase mb-24">
                Una selección de mis proyectos
            </h1>
            <div class="min-h-screen">
                <WorkSectionContainer client:only works={works} />
            </div>
        </main>
    </div>
</Layout>
