---
import SendIcon from "../../components/General/Icons/SendIcon.astro";
import ContactContent from "./ContactContent";
---

<section class="relative p-4 lg:p-[100px] xl:p-desk font-light">
    <ContactContent client:load />
</section>
