---
import "@fontsource/barlow-condensed/700.css";
import "@fontsource-variable/nunito-sans";
import Navbar from "../components/General/Navbar";
import Footer from "../components/General/Footer.astro";
import Starfield from "../components/General/Starfield.astro";
import { ViewTransitions } from "astro:transitions";

interface Props {
	title: string;
	starsCount: number;
	disableHeaderBg?: boolean;
}

const { title, starsCount, disableHeaderBg = false } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="matna-logo.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body class="font-body relative bg-dark text-white">
		<div class="absolute w-full h-full overflow-hidden top-0 left-0">
			{
				!disableHeaderBg ? (
					<div class="absolute h-screen w-full">
						<div class="h-screen w-full bg-gradient-to-t from-primary/70 to-dark" />
						<div class="w-full h-[320px] top-0 bg-gradient-to-b from-primary/70 to-dark" />
					</div>
				) : null
			}
			<Starfield starsCount={starsCount} />
		</div>
		<div class="relative z-40">
			<Navbar client:load />
			<slot />
			<Footer />
		</div>
	</body>
</html>

<style>
	/* @view-transition {
		navigation: auto;
	} */

	html {
		scroll-behavior: smooth;
	}
</style>
