---
import { works } from "../../ui/works";
import WorkContent from "./WorkContent";

const worksToShow = works.slice(0, 3);
---

<section class="relative p-4 lg:p-[100px] xl:p-desk">
    <WorkContent client:load worksToShow={worksToShow} />
</section>
